*{
    margin:0;
}
body{
    height: 200vh;
}
.nav {
    width: 100%;
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a { 
text-decoration: none;
color: black;
font-size: 12px;
}
.home{
 width: 100%;
 height: 90vh;
 background-color: darkseagreen;
 
 background-image: url(pozadina.jpg);
 background-size:cover;
  display: block;
 
 justify-content: center;
 align-items: center;
 font-size: 10px;
}

.home h1{
    padding-top: 300px;
    padding-left: 10px;
}
.home span {
    color: blue;
}
.home p{
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 13px;
}
.home form {
    margin-left: 40px;

}
.home input{
    width: 110px;
    height: 5vh;
    background-color: blue;
    margin: 10px;
    font-size: 10px;

    
}
.kartice {
    width: 100%;
    height:200vh ;
    background-color: rgb(21, 143, 143);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
.kartica1 {
    width: 300px;
    height: 300px;
    background-color: darksalmon;
    margin:5px;


.kartica1 h1{
     text-align: center;
 font-size: 20px;

    

}
.kartica1 p{
    text-align: center;
    font-size: 12px;
    padding: 20px;
    color: blue;

}

.kartice i{
    padding: 10px;
}