*{
    margin: 0;
}

.glavni{

    background-color: rgb(226, 43, 43);
    margin: 200px auto;
    height: 400px;
    width: 30vw;
    position: relative;
}


.prvi {   
    
    background-color: rgb(0, 140, 205); 
    position: absolute;
    height: 50px;
    width: 50px;
    top:170px;
    left: 285px;
    border-radius: 50%;
}
.drugi {   
    position: absolute;
    background-color: mediumblue; 
    height: 50px;
    width: 50px;
    top:350px;
    left: 280px;
    border-radius: 50%;
}
.treci {
    position: absolute;
    background-color: rgb(185, 205, 0); 
    height: 50px;
    width: 50px;
    top:560px;
    left: 280px;
    border-radius: 50%;
}
.cetvrti {   
    position: absolute;
    background-color: rgb(62, 131, 116); 
    height: 50px;
    width: 50px;
    top:350px;
    left: 545px;
    border-radius: 50%;
}
.peti {   
    position: absolute;
    background-color: rgb(141, 141, 179); 
    height: 50px;
    width: 50px;
    top: 560px;
    left: 545px;
    border-radius: 50%;
}
.sesti {   
    position: absolute;
    background-color: rgb(19, 19, 22); 
    height: 50px;
    width: 50px;
    top:175px;
    left: 535px;
    border-radius: 50%;
}